
.form-group{
    display:flex;
    flex-direction:column;
}

.LoginApp {
    width: 450px;
    height:600px;
    margin: auto;
    margin-top: 80px;
    padding: 40px;
    border: 1px solid rgb(12, 12, 12);
}

label {
    margin: 5px 15px 0 0;
}
.signInDiv {
    display: flex;
    padding-bottom: 10px;
}
.LoginBtn {
    width: 330px; 


}
.google-login{
    width:300px;
    height:55px;
    margin-top:10px
}
.kep-login-facebook{
    width:300px;
    height:55px;
}
h4 {
    width: 100px;
    margin: auto;
}
